* {
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    height: 65px;
    width: 550px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
    margin: 0px;
    border: 0px;
}

.header--image {
    height: 100%;
    margin-right: 6px;
}

.header--title {
    width: 140.79px;
    height: 24px;
    left: 58px;
    top: 21px;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 20.7482px;
    line-height: 24px;
    letter-spacing: -0.1em;
}

.header--h4 {
    margin-left: 180px;
    height: 14px;
    top: 25px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
}